#guessedWordContainer {
    border: 2px solid orange;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.wordHolder{
    display: flex;
    box-sizing: border-box;
    /* flex-direction: row; */
    /* height: 100%; */
}

#threeLetterWordHolder {
    border: 2px solid brown;
    width: 25%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

#fourLetterWordHolder {
    border: 2px solid purple;
    width: 25%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

}

#fiveLetterWordHolder {
    border: 2px solid lightgreen;
    width: 25%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

}

#sixLetterWordHolder {
    border: 2px solid palevioletred;
    width: 25%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}


.word {
    /* direction: flex; */
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row; */
    border: 1px solid blue;
    /* height: 25%;
    width: 50px; */
    /* flex-grow: 1; */
    height: 20px;
    margin: 0;
}

#wordInput {
    height: 100%;
    width: 100%;
    border: 1px solid magenta;
    box-sizing: border-box;
    text-size-adjust: 100%;
    font-size: 100%;
    align-self: center;
}

#wordInputHolder {
    height: 80px;
    width: 40%;
    border: 10px solid grey;
    margin-top: 0px;
    box-sizing: border-box;
    font-size: 100%;
    justify-items: center;
    justify-items: center;
}

#wordInputAndButtonHolder {
    display: flex;
    justify-content: center;
    border: 10px solid green;
    margin: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    height: 50%;
    

}

#showLettersToWorkWith {
    height: 80px;
    width: 40%;
    border: 10px solid orangered;
    margin-top: 0px;
    box-sizing: border-box;
    font-size: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#enterButton {
        margin: 10px;
    
}

#messageToUser {
    height: 40px;
    width: 40%;
    border: 1px solid black;
    margin: 5px;
    box-sizing: border-box;
}

#nextRoundButton {
    display: none;
    padding: 0 7px 2px;
    margin: 9.5px;
}

#buttonHolder {
    display: flex;
}

#beginGameButton {
    display: block;
    padding: 0 7px 2px;
    margin: 9.5px;
}